
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    width: 1280px;  
}


/* Navigation Bars */
.navber ul li{
    display: inline;
    padding: 8px;
}
nav ul{
    list-style-type: none;
}

nav ul li a{
    color: #fff;
    display: inline-block;
}
/* Change the link color on hover */
li:hover{
    background-color: tomato;
}




/* Button Style's */
.btn-1 i{
    margin-right: 5px;
}

.btn-2 i{
    margin-left: 5px;
}


.btn-1{
    background-color: rgb(250, 44, 106);
    border: 1px solid rgb(170, 3, 3);
    /* border: none; */
    padding: 8px 15px;
    color: #fff;
    font-weight: bolder;
    font-size: 14px;
    transition: .9s;
}

.btn-1:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(250, 44, 106);
    border: 1px solid rgb(250, 44, 106);
}


.btn-2{
    margin-top:15px ;
    background-color: rgb(255, 255, 255);
    color: rgb(250, 44, 106);
    border: 1px solid rgb(250, 44, 106);
    padding: 8px 15px;
    font-weight: bolder;
    font-size: 14px;
    transition: .4s;
}

.btn-2:hover{
    background-color: rgb(250, 44, 106);
    border: 1px solid #fff;
    color: #fff;
}



/* Header css starts */

header{
    background-color: rgb(23, 57, 211);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.nav{
    display: flex;
    justify-content: space-between;
}


.login .btn-1{
    align-items: left;
}


.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 70px;
}

.banner .banner-img img{
    width: 572px;
    height: 438px;
}

.banner-title{
    text-align: left;
    font-weight: 700;
    font-size: 64px;
    line-height: 85px;
    margin-top: 60px;
}


/* Main section */
main{
    background-color: rgb(255, 255, 255);
}

.players{
    width: 870px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-left: 10%;
    margin-top: 35px;
}

.player{
    background-color: #fff;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.players .player-img img{
    width: 300px;
    height: 256px;
}

.player-info p{
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
    text-align: justify;

}

/* optional section */

.optional{
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    grid-gap: 30px;
    margin-left: 10%;
}

.optional .optional-img img{
    width: 567px;
    height: 427px;
}


.optional-title{
    text-align: left;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-top: 60px;
}

/* main ends */


/* footer starts */

.footer{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-img img{
    width: 400px;
    height: 100px;
}



.footer-icon ul li{
    list-style-type: none;
    margin: 20px 0px;
    
    
}

.footer-icon ul li a{
    margin-left: 15px;
    padding: 5px 10px;
    color: rgb(133, 133, 133);
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: rgb(224, 224, 224);
    transition: .4s;
}

.footer-icon ul li a:hover{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(250, 44, 106);
    color: rgb(250, 44, 106);
}





/* Resposive */

/* small screen (mobile) */

@media (max-width:668px){
    .container{
        max-width: 100%;
        
    }

    .players, .banner, .optional{
        grid-template-columns:1fr;
    }
    .players{
        margin-left: 0;
    }
    
    .banner .banner-img img{
        margin-top: 50px;
        width: 430px;
        height: 360px;
        
    }

    .footer .footer-img img{
        width: 200px;
        height: auto;
    }

    .optional .optional-img img{
        margin-top: 30px;
        width: 400px;
        height: auto;
        
    }
}



/* Tablet screen */

@media (min-width:768px) and (max-width:1068px){
    .container{
        max-width: 100%;
        
    }

    .players, .banner, .optional{
        grid-template-columns:1fr 1fr;
    }

    .players{
        margin-left: 0;
    }
    
    .banner .banner-img img{
        margin-top: 50px;
        width: 350px;
        height: auto;
        margin-top: 150px;
        
    }

    .footer .footer-img img{
        width: 200px;
        height: auto;
    }

    .optional .optional-img img{
        margin-top: 30px;
        width: 400px;
        height: auto;
        
    }
}